<div>
    <div>
        <h1>List</h1>
    </div>
</div>
<div>
    <div>
         <form [ngFormModel]="form" (submit)="onSave(text)">
            
           <input required="required"  ngControl="text"/>
           <div *ngIf="text.dirty && !text.valid">
                 <p class="error" *ngIf="text.errors.required">Todo is required.</p>
                 <p class="error" *ngIf="text.errors.isString">Todo can't be a number</p>
             </div>
             <br>
            <button type="submit" [disabled]="!form.valid" style="padding: 10px;">SAVE</button>
             <button (click)="onBack()" style="padding: 10px;">BACK</button>
         </form>
    </div>
</div>


 
         
     